@import "bootstrap-sprockets";
@import "rails_bootstrap_forms";
@import "bootstrap";

// Footer styles
footer {
	margin-top: 20px;
	height: 60px;
}

.post-new-snippit-field textarea {
	height: 300px;
}