.post_row {
	.post_col {
		padding: 15px 15px;
	}

	.post_description_col {
		a {
			font-size: 24px;
		}
	}

	.post_user {
		margin-top: 5px;
		color: grey;
		font-size: 14px;
		a {
			font-size: 14px;
		}
	}
}